<nav id="sidebar" class="sidebar js-sidebar m-0" style="height: 100%">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand mb-2">
      <h1 class="align-middle" style="color: white"><i class="fa-solid fa-book-bookmark"></i>  Library</h1>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-item active">
        <a class="sidebar-link" [routerLink]="'/pages/book-manager'" routerLinkActive="active">
          <i class="fa-solid fa-list-check"></i><span class="align-middle">Quản lý thông tin sách</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'author-manager'" routerLinkActive="active">
          <i class="fa-solid fa-bars-progress"></i> <span class="align-middle">Quản lý tác giả</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'acc-manager'" routerLinkActive="active">
          <i class="fa-solid fa-users"></i> <span class="align-middle">Quản lý tài khoản</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'category-manager'" routerLinkActive="active">
          <i class="fa-solid fa-business-time"></i> <span class="align-middle">Quản lý thể loại sách</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'publishing-company'" routerLinkActive="active">
          <i class="fa-solid fa-user-secret"></i> <span class="align-middle">Quản lý nhà xuất bản</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'loan-pay-manager'" routerLinkActive="active">
          <i class="fa-solid fa-floppy-disk"></i> <span class="align-middle">Quản lý mượn trả</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'delinquent-manager'" routerLinkActive="active">
          <i class="fa-solid fa-fire"></i> <span class="align-middle">Quản lý vi phạm</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="'chart'" routerLinkActive="active">
          <i class="fa-solid fa-book-journal-whills"></i> <span class="align-middle">Thống kê</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
