<div id="chart" class="mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-danger text-light" style="padding: 5px 15px; font-size: 30px;"><i class="fa-solid fa-dollar-sign" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0 VNĐ</h3>
              <p>Lợi nhuận</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-success text-light" style="padding: 4px 10px; font-size: 30px;"><i class="fa-solid fa-bag-shopping" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0</h3>
              <p>Tổng số sản phẩm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-info text-light" style="padding: 4px 10px; font-size: 30px;"><i class="fa-solid fa-list" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0</h3>
              <p>Tổng số khách hàng</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-primary text-light" style="padding: 4px 10px; font-size: 30px;"><i class="fa-solid fa-user" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0</h3>
              <p>Tổng số đơn đặt hàng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-success text-light" style="padding: 5px 10px; font-size: 30px;"><i class="fa-solid fa-shop" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0</h3>
              <p>Đơn hàng chưa duyệt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-danger text-light" style="padding: 4px 10px; font-size: 30px;"><i class="fa-solid fa-building-columns" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0 VNĐ</h3>
              <p>Doanh thu năm nay</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <a class="rounded-circle bg-warning text-light" style="padding: 4px 10px; font-size: 30px;"><i class="fa-solid fa-trophy" style="font-size: 30px;"></i></a>
            </div>
            <div class="col-md-10 pl-5">
              <h3>0</h3>
              <p>Sản phẩm bán chạy</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
