<div class="row" id="table-inverse">
  <div class="col-12">
    <div class="">
      <div class="">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">QUẢN LÝ MƯỢN TRẢ</h4>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <a class="btn btn-info text-light" type="button" data-toggle="modal" data-target="#exampleModal-bookmanager-new" (click)="loanpayInfoForm.reset()">Thêm mới <span><i class="fa-solid fa-plus"></i></span></a>
          </div>
        </div>
      </div>
      <!--        <div class="card-content">-->
      <!--          <div class="card-body">-->
      <!--            <p>-->
      <!--              You can also invert the colors—with light text on dark-->
      <!--              backgrounds—with-->
      <!--              <code class="highlighter-rouge">.table-dark</code>.-->
      <!--            </p>-->
      <!--          </div>-->
<!--      <div class="table-responsive">-->
<!--        <table class="table table-light mb-0">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>STT</th>-->
<!--            <th>TÊN SÁCH</th>-->
<!--            <th>SỐ LƯỢNG</th>-->
<!--            <th>MÃ THẺ</th>-->
<!--            <th>NGÀY MƯỢN</th>-->
<!--            <th>NGÀY TRẢ</th>-->
<!--            <th>GHI CHÚ</th>-->
<!--            <th>TRẠNG THÁI</th>-->
<!--            <th>MÃ NHÂN VIÊN</th>-->
<!--            <th>CHI TIẾT</th>-->
<!--            <th>THAO TÁC</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let i of loanPayManager, index as index">-->
<!--            <td>{{index +1}}</td>-->
<!--            <td>{{i.book_name}}</td>-->
<!--            <td>{{i.amount}}</td>-->
<!--            <td>{{i.card_number}}</td>-->
<!--            <td>{{i.start_date}}</td>-->
<!--            <td>{{i.end_date}}</td>-->
<!--            <td>{{i.note}}</td>-->
<!--            <td>{{i.status}}</td>-->
<!--            <td>{{i.staff_id}}</td>-->
<!--            <td>{{i.call_card_details_id}}</td>-->
<!--            <td>-->
<!--              <a type="button" data-toggle="modal" data-target="#exampleModal-bookmanager" (click)="editLoanpay(i)"><i class="fa-solid fa-pen-to-square"></i></a>-->
<!--              <a type="button" data-toggle="modal" data-target="#delete-book-manager" (click)="selectLoanpay(i)"><i class="fa-solid fa-trash-can"></i></a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
      <p-table [value]="loanPayManager"  [paginator]="true" [rows]="10" >
        <ng-template pTemplate="header" class="dark">
          <tr>
            <th>STT</th>
            <th pSortableColumn="book_name">TÊN SÁCH<p-sortIcon field="book_name"></p-sortIcon></th>
            <th pSortableColumn="amount">SỐ LƯỢNG<p-sortIcon field="amount"></p-sortIcon></th>
            <th pSortableColumn="card_number">MÃ THẺ<p-sortIcon field="card_number"></p-sortIcon></th>
            <th pSortableColumn="start_date">NGÀY MƯỢN<p-sortIcon field="start_date"></p-sortIcon></th>
            <th pSortableColumn="end_date">NGÀY TRẢ<p-sortIcon field="end_date"></p-sortIcon></th>
            <th pSortableColumn="note">GHI CHÚ<p-sortIcon field="note"></p-sortIcon></th>
            <th pSortableColumn="status">TRẠNG THÁI<p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="staff_id">MÃ NHÂN VIÊN<p-sortIcon field="staff_id"></p-sortIcon></th>
            <th pSortableColumn="call_card_details_id">CHI TIẾT<p-sortIcon field="call_card_details_id"></p-sortIcon></th>
            <th>THAO TÁC</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-i let-rowIndex="rowIndex">
          <tr >
            <td>{{rowIndex +1}}</td>
            <td>{{i.book_name}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.card_number}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td>{{i.note}}</td>
            <td>{{i.status}}</td>
            <td>{{i.staff_id}}</td>
            <td>{{i.call_card_details_id}}</td>
            <td>
              <a type="button" data-toggle="modal" data-target="#exampleModal-bookmanager" (click)="editLoanpay(i)"><i class="fa-solid fa-pen-to-square"></i></a>
              <a type="button" data-toggle="modal" data-target="#delete-book-manager" (click)="selectLoanpay(i)"><i class="fa-solid fa-trash-can"></i></a>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal-bookmanager-new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" [formGroup]="loanpayInfoForm">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white">Thêm mới</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Tên sách <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="book_name" id="bookName">
                    <option *ngFor="let bookName of listBookName" value="{{bookName.book_id}}">
                      <span>{{bookName.book_name}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Số Lượng <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="amount" formControlName="amount">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_the" class="col-sm-2 col-form-label">Mã Thẻ <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_the" formControlName="card_number">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_borrow" class="col-sm-2 col-form-label">Ngày Mượn <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="date_borrow" formControlName="start_date">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_pay" class="col-sm-2 col-form-label">Ngày Trả <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="date_pay" formControlName="end_date">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-2 col-form-label">Ghi Chú <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="note" formControlName="note">
                </div>
              </div>
<!--              <div class="form-group row">-->
<!--                <label for="status" class="col-sm-2 col-form-label">Trạng Thái <span style="color: red">*</span></label>-->
<!--                <div class="col-sm-10">-->
<!--                  <input type="text" class="form-control" id="status">-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group row">
                <label for="id_staff" class="col-sm-2 col-form-label">Mã Nhân Viên <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_staff" formControlName="staff_id">
                </div>
              </div>


            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px" (click)="onAddNewLoanpay()" data-dismiss="modal">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal-bookmanager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" [formGroup]="loanpayInfoForm">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white">Chỉnh sửa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Tên sách <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="book-name" formControlName="book_name">
                </div>
              </div>

              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Số lượng <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="edit_amount" formControlName="amount">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_the" class="col-sm-2 col-form-label">Mã Thẻ <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_the" formControlName="card_number">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_borrow" class="col-sm-2 col-form-label">Ngày Mượn <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="date_borrow" formControlName="start_date">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_pay" class="col-sm-2 col-form-label">Ngày Trả <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="date_pay" formControlName="end_date">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-2 col-form-label">Ghi Chú <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="note" formControlName="note">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_staff" class="col-sm-2 col-form-label">Mã Nhân Viên <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_staff" formControlName="staff_id">
                </div>
              </div>


            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px" (click)="onEditLoanpay()" data-dismiss="modal">Cập Nhật</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="delete-book-manager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="">Bạn có muốn xóa không ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              <button type="button" class="btn btn-primary" (click)="onDeleteLoanpay()"data-dismiss="modal">Có</button>
            </div>
          </div>
        </div>
      </div>
<p-toast></p-toast>
