
td i {
  font-size: 20px;
  padding: 5px;
}
.fa-solid.fa-pen-to-square{
  color: #00cc00;
}
.fa-solid.fa-trash-can{
  color: red;
}
/*.table-responsive td i {*/
/*  font-size: 20px;*/
/*  padding: 8px;*/
/*}*/
.fa-solid.fa-eye{
  color: #d7c067;
}
.justify-content-end {
  justify-content: flex-end !important;
  margin-bottom: 20px;
}
