<div class="row" id="table-inverse">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">QUẢN LÝ MƯỢN TRẢ</h4>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <a class="btn btn-info text-light" type="button" data-toggle="modal" data-target="#exampleModal-bookmanager-new">Thêm mới <span><i class="fa-solid fa-plus"></i></span></a>
          </div>
        </div>
      </div>
      <!--        <div class="card-content">-->
      <!--          <div class="card-body">-->
      <!--            <p>-->
      <!--              You can also invert the colors—with light text on dark-->
      <!--              backgrounds—with-->
      <!--              <code class="highlighter-rouge">.table-dark</code>.-->
      <!--            </p>-->
      <!--          </div>-->
      <div class="table-responsive">
        <table class="table table-light mb-0">
          <thead>
          <tr>
            <th>STT</th>
            <th>TÊN SÁCH</th>
            <th>MÃ THẺ</th>
            <th>NGÀY MƯỢN</th>
            <th>NGÀY TRẢ</th>
            <th>GHI CHÚ</th>
            <th>TRẠNG THÁI</th>
            <th>MÃ NHÂN VIÊN</th>
            <th>THAO TÁC</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of loanPayManager, index as index">
            <td>{{index +1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.card_number}}</td>
            <td>{{i.borrow_date}}</td>
            <td>{{i.pay_date}}</td>
            <td>{{i.note}}</td>
            <td>{{i.status}}</td>
            <td>{{i.staff_id}}</td>
            <td>
              <a type="button" data-toggle="modal" data-target="#exampleModal-bookmanager"><i class="fa-solid fa-pen-to-square"></i></a>
              <a type="button" data-toggle="modal" data-target="#delete-book-manager" ><i class="fa-solid fa-trash-can"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal-bookmanager-new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white">Thêm mới</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Tên sách <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="book-name">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_the" class="col-sm-2 col-form-label">Mã Thẻ <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_the">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_borrow" class="col-sm-2 col-form-label">Ngày Mượn <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="date_borrow">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_pay" class="col-sm-2 col-form-label">Ngày Trả <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="date_pay">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-2 col-form-label">Ghi Chú <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="note">
                </div>
              </div>
              <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label">Trạng Thái <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="status">
                </div>
              </div>
              <div class="form-group row">
                <label for="id_staff" class="col-sm-2 col-form-label">Mã Nhân Viên <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_staff">
                </div>
              </div>

            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal-bookmanager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white">Chỉnh sửa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="book-name" class="col-sm-2 col-form-label">Tên sách <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="book-name">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_the" class="col-sm-2 col-form-label">Mã Thẻ <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_the">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_borrow" class="col-sm-2 col-form-label">Ngày Mượn <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="date_borrow">
                </div>
              </div>
              <div class="form-group row">
                <label for="date_pay" class="col-sm-2 col-form-label">Ngày Trả <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="date_pay">
                </div>
              </div>
              <div class="form-group row">
                <label for="note" class="col-sm-2 col-form-label">Ghi Chú <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="note">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_staff" class="col-sm-2 col-form-label">Mã Nhân Viên <span style="color: red">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_staff">
                </div>
              </div>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px">Cập Nhật</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="delete-book-manager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="">Bạn có muốn xóa không ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              <button type="button" class="btn btn-primary">Có</button>
            </div>
          </div>
        </div>
      </div>
