<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row" [formGroup]="accInfoForm">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://image.lag.vn/upload/news/22/07/18/lisa-blackpink-anya-spy-x-family-6_SFCC.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 200px;">
            <h5 class="my-3">{{currentAccount.full_name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8" >
        <div class="card mb-4" >
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3" >
                <p class="mb-0">Họ tên</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.full_name" formControlName="full_name">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tên tài khoản</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.username" formControlName="username">
              </div>
            </div>
            <hr>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sinh</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.date_of_birth" formControlName="date_of_birth">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.email" formControlName="email">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.phone" formControlName="phone">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nhóm quyền</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.code_role" formControlName="code_role">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày tạo</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.creat_date" formControlName="creat_date">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sửa đổi</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="currentAccount.update_date" formControlName="update_date">
              </div>
            </div>
            <hr>
            <div class="col-md-3 d-flex justify-content-end edit_user_profile">
              <a class="btn btn-info text-light add_new" type="button" data-toggle="modal" data-target="#exampleModal-bookmanager-new" (click)="onEditAccount()">Cập nhật<i class="fa-regular fa-pen-to-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  modal-->
</section>


