<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row" >
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://cafefcdn.com/thumb_w/650/203337114487263232/2022/3/3/photo1646280815645-1646280816151764748403.jpg" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 200px;">
            <h5 class="my-3">user_name</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Họ tên</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.full_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tên tài khoản</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mật khẩu</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.password}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sinh</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.date_of_birth}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nhóm quyền</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.code_role}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày tạo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.creat_date}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sửa đổi</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{getOneAccManager?.update_date}}</p>
              </div>
            </div>
            <hr>
            <div class="col-md-3 d-flex justify-content-end edit_user_profile">
              <a class="btn btn-info text-light add_new" type="button" data-toggle="modal" data-target="#exampleModal-bookmanager-new">Sửa<i class="fa-regular fa-pen-to-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


