<p-toast></p-toast>
<div class="row" id="table-inverse">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">QUẢN LÝ SÁCH</h4>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <a class="btn btn-info text-light" type="button" data-toggle="modal"
               data-target="#exampleModal-bookmanager-new">Thêm mới <span><i class="fa-solid fa-plus" (click)="bookmanagerInfoForm.reset()"></i></span></a>
          </div>
        </div>
      </div>
      <!--        <div class="card-content">-->
      <!--          <div class="card-body">-->
      <!--            <p>-->
      <!--              You can also invert the colors—with light text on dark-->
      <!--              backgrounds—with-->
      <!--              <code class="highlighter-rouge">.table-dark</code>.-->
      <!--            </p>-->
      <!--          </div>-->
      <div class="table-responsive">
        <table class="table table-light mb-0">
          <thead>
          <tr>
            <th>STT</th>
            <th>TÊN SÁCH</th>
            <th>ẢNH</th>
            <th>GIÁ TIỀN</th>
            <th>LOẠI SÁCH</th>
            <th>TÁC GIẢ</th>
            <th>SỐ TRANG</th>
            <th>NHÀ XUẤT BẢN</th>
            <th>NĂM XUẤT BẢN</th>
            <th>SỐ LƯỢNG</th>
            <th>Trạng Thái</th>
            <th>THAO TÁC</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of bookManager, index as index">
            <td>{{index + 1}}</td>
            <td class="text-bold-500">{{i.book_name}}</td>
            <td>{{i.image}}</td>
            <td>{{i.price}}</td>
            <td>{{i.category_name}}</td>
            <td class="text-bold-500">{{i.name_author}}</td>
            <td>{{i.page_number}}</td>
            <td>{{i.publish_name}}</td>
            <td>{{i.publishing_year}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.status}}</td>
            <td>
              <a type="button" data-toggle="modal" data-target="#exampleModal-bookmanager" (click)="editBook(i)" style="color: #00cc00"><i
                class="fa-solid fa-pen-to-square"></i></a>
              <a type="button" data-toggle="modal" data-target="#delete-book-manager" (click)="selectBook(i)" style="color: red"><i
                class="fa-solid fa-trash-can"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal-bookmanager-new" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" [formGroup]="bookmanagerInfoForm">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white">Thêm mới</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="book-name" class="col-sm-3 col-form-label">Tên sách <span
                  style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="book-name" formControlName="book_name">
                </div>
              </div>
              <div class="form-group row">
                <label for="images" class="col-sm-3 col-form-label">Ảnh <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control-file" id="images" formControlname="image">
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-3 col-form-label">Giá tiền <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="price" formControlName="price">
                </div>
              </div>
              <div class="form-group row">
                <label for="book-kind" class="col-sm-3 col-form-label">Loại sách <span
                  style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="category_name" id="book-kind">
                    <option *ngFor="let bookCategory of listBookCategory" value="{{bookCategory.id}}">
                      <span>{{bookCategory.name}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="author" class="col-sm-3 col-form-label">Tác giả <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="name_author" id="author">
                    <option *ngFor="let bookAuthor of listAuthor" value="{{bookAuthor.id}}">
                      <span>{{bookAuthor.name_author}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pages" class="col-sm-3 col-form-label">Số trang <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="pages" formControlName="page_number">
                </div>
              </div>
              <div class="form-group row">
                <label for="old-password" class="col-sm-3 col-form-label">Nhà xuất bản <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="publish_name" id="old-password">
                    <option *ngFor="let company of listpublishingCompany" value="{{company.id}}">
                      <span>{{company.name}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-3 col-form-label">Năm xuất bản <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" id="year"formControlName="publishing_year" >
                </div>
              </div>
              <div class="form-group row">
                <label for="amount" class="col-sm-3 col-form-label">Số lượng <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="amount" formControlName="amount">
                </div>
              </div>
              <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">Trạng thái <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="status" formControlName="status">
                </div>
              </div>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px" (click)="onAddNewBook()" data-dismiss="modal">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal-bookmanager" tabindex="-1" aria-labelledby="exampleModalLabel2"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" [formGroup]="bookmanagerInfoForm">
          <div class="modal-content border-0">
            <div class="modal-header" style="background: #2C3333">
              <h5 class="modal-title" id="exampleModalLabel2" style="color: white">Chỉnh sửa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="book-name2" class="col-sm-3 col-form-label" >Tên sách <span
                  style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="book-name2" formControlName="book_name">
                </div>
              </div>
              <div class="form-group row">
                <label for="images2" class="col-sm-3 col-form-label">Ảnh <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="file" class="form-control-file" id="images2">
                </div>
              </div>
              <div class="form-group row">
                <label for="price2" class="col-sm-3 col-form-label">Giá tiền <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="price2" formControlName="price">
                </div>
              </div>
              <div class="form-group row">
                <label for="book-kind" class="col-sm-3 col-form-label">Loại sách <span
                  style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="category_name">
                     <option *ngFor="let bookCategory of listBookCategory" value="{{bookCategory.id}}">
                       <span>{{bookCategory.name}}</span>
                     </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="author2" class="col-sm-3 col-form-label">Tác giả <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="name_author" id="author2">
                    <option *ngFor="let bookAuthor of listAuthor" value="{{bookAuthor.id}}">
                      <span>{{bookAuthor.name_author}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pages" class="col-sm-3 col-form-label">Số trang <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="pages2" formControlName="page_number">
                </div>
              </div>
              <div class="form-group row">
                <label for="old-password" class="col-sm-3 col-form-label">Nhà xuất bản <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="publish_name" id="old-password">
                    <option *ngFor="let company of listpublishingCompany" value="{{company.id}}">
                      <span>{{company.name}}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-3 col-form-label">Năm xuất bản <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="date" placeholder="yyyy-mm-dd" class="form-control" id="year2" formControlName="publishing_year">
                </div>
              </div>
              <div class="form-group row">
                <label for="amount" class="col-sm-3 col-form-label">Số lượng <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="amount" formControlName="amount">
                </div>
              </div>
              <div class="form-group row">
                <label for="status1" class="col-sm-3 col-form-label">Trạng thái <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="status1" formControlName="status">
                </div>
              </div>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-primary" style="font-size: 18px" data-dismiss="modal" (click)="onEditBook()" data-dismiss="modal">Cập Nhật</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="delete-book-manager" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="">Bạn có muốn xóa không ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteBookManager()" data-dismiss="modal">Có</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
